@mixin button(){   
    border-radius: rem(4);   
    box-shadow: rem(4) rem(4) rem(4) darken($secondary,10%);   
    cursor: pointer;   
    display: inline-block;   
    font-weight: 600;   
    font-family: inherit;   
    font-size: 0.95rem;
    margin: 0.25rem 0;   
    padding: 0.5rem 1rem;   
    text-decoration: none;   
    vertical-align: middle;   
    white-space: nowrap; 
}

&btn{
    @include button();
}
